@import '../../assets/css/main.css';
.pagination{
    display: flex;
    gap:20px;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
}

.buttons_flex{
    display: flex;
    gap:20px;
}

.button{
    color: var(--black);
    width: 30px;
    height: 40px;
    border: 1px solid var(--black);
    border-radius: 7px;
}

.button:hover{
    background-color: var(--black);
    color: var(--white);
    transition: 0.3s;
}

.button:disabled{
    color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
    cursor: default;
}

.button:disabled:hover {
    background-color: transparent; 
    color: var(--dark-gray);
}