@import '../../assets/css/main.css';

/* -------------news------------- */
.news{
    display: grid;
    grid-template-columns: repeat(2, 550px);
    gap: 20px;
    margin: 20px 24px 0;
}
.news_img{
    width: 220px;
    height: 140px;
    background-color: var(--dark-gray);
}
.news_flex{
    display: flex;
    gap: 20px;
}

.news_text_one, .news_text_two, .news_text_tree, .news_author{
   height: 14px; 
   background-color: var(--dark-gray);
}

.news_text_one{    
    width: 220px;   
}
.news_text_two{
    margin-top: 10px;
    width: 180px;
}

.news_text_tree{
    margin-top: 10px;
    width: 140px;
}
.news_author{
    margin-top: 62px;
    width: 190px;
}

/* Доделать скелетон и изменить цвета с анимацией */


/* -------------banner------------- */
.banner{
    margin: 20px 0 0 20px;
    display:flex;
    gap: 20px; 
}

.banner_img{
    width: 550px;
    height: 272px;
    background-color: var(--dark-gray);
}

.banner_text_one, .banner_text_two, .banner_author{
     height: 16px;
    background-color: var(--dark-gray);
}

.banner_text_one{
    margin-top: 14px;
    width: 540px;
}

.banner_text_two{
    margin-top: 6px;
    width: 280px;
   
}
.banner_author{
    margin-top: 20px;
    width: 360px;
    margin-bottom: 22px;
}
/* -------------categories------------- */
.categories{
    margin: 10px 20px 0;
    width: 1110px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--dark-gray);
}