@import './reset.css';
:root {
  --black: #393939;
  --white: #ffffff;
  --gray: #e3e3e3;
  --dark-gray:#adadad;
}


* {
  font-size: 18px;
  font-weight: 400;
  font-family: 'inter', sans-serif;
  color: var(--black);
}

.container{
  max-width: 1168px;
  margin: 0 auto;
}

.divider{
  width: 100%;
  height: 1px;
  background-color: var(--gray);
}